@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #04084e;
	overflow-x: hidden;
	background-color: #F0EFF5;
}

.businesscontainer{
    flex: 1;
    background-color: #F0EFF5;
    justify-content: center;
    align-items: center;
    margin: 10px 100px; 
}

.businesscontainer .nav-path{
	font-size: 14px;
	font-weight: 800;
	color: #04084e90;
	text-transform: capitalize;
	margin: 20px 0;
	cursor: pointer;
}

.businesscontainer .smcard{
	padding: 20px 30px;
	margin-bottom: 20px;
    width: 100%;
}

.businesscontainer .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.businesscontainer .header h6{
	color: #04084e;
	font-weight: 600;
}

.businesscontainer .header .optionicon{
	cursor: pointer;
	transition: all 0.3s ease;
}

.businesscontainer .header .optionicon:hover{
	transform: scale(1.1);
}

.businesscontainer .subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #04084e90;
    margin-top: 15px;
    padding-top: 15px;
}

.businesscontainer .search{
	border: 1px solid #04084e90;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 0 10px;
	height: 35px;
	background-color: #F0EFF5;
}

.businesscontainer .search-input{
	outline: none;
	border: none;
	margin: 3px 0;
	font-size: 14px;
	color: #04084e;
	background-color: #F0EFF5;
    width: 400px;
}

.businesscontainer .rowheading{
    padding-bottom: 10px;
	border-bottom: 2px solid #04084e50;
	font-weight: 600;
}

.businesscontainer .listdata{
	margin-top: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #04084e50;
}

.businesscontainer .status {
	border: 1px solid ;
	border-radius: 10px;
	width: fit-content;
	padding: 0 5px;
	font-size: 14px;
	font-weight: 600;
}

.businesscontainer .flex-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.businesscontainer .orderIcon{
    margin-left: 3px;
    margin-bottom: 1px;
}

.businesscontainer .owner{
	transition: all 0.3s ease;
}

.businesscontainer .owner:hover{
	transform: scale(1.1);
	cursor: pointer;
}