@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #04084e;
	overflow-x: hidden;
	background-color: #f0eff5;
}

.headerspace {
	height: 120px;
}

.homecontainer {
	flex: 1;
	background-color: #f0eff5;
	justify-content: center;
	align-items: center;
	margin: 10px 100px;
}

.homecontainer .nav-path {
	font-size: 14px;
	font-weight: 800;
	color: #04084e90;
	text-transform: capitalize;
	margin: 20px 0;
	cursor: pointer;
}

.homecontainer .main .card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
	margin-bottom: 20px;
}

.homecontainer .main .circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #f0eff550;
}

.homecontainer .main .info .stats {
	font-size: 20px;
	font-weight: 800;
	color: #f0eff5;
}

.homecontainer .main .info .label {
	color: #f0eff5;
}

.color1 {
	background-color: #b09456;
}

.color2 {
	background-color: #1e245f;
}

.color3 {
	background-color: #9092ad;
}

.color4 {
	background-color: #896839;
}

.firstbody .graph-card {
	padding: 20px 30px;
	margin-bottom: 20px;
	height: 585px;
	position: relative;
}

.firstbody .graph-card .graph {
	height: 100%;
	width: 100%;
	position: relative;
}

.firstbody .orderstats {
	padding: 20px 30px;
	margin-bottom: 20px;
}

.firstbody .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.firstbody .header h6 {
	color: #04084e;
	font-weight: 600;
}

.firstbody .header .optionicon {
	cursor: pointer;
	transition: all 0.3s ease;
}

.firstbody .header .optionicon:hover {
	transform: scale(1.1);
}

.progress-bar {
	position: relative;
	height: 6px;
	width: 350px;
	border-radius: 50px;
	border: 1px solid #9092ad50;
	background-color: #9092ad50;
}

.filler {
	background-color: #896839;
	height: 100%;
	border-radius: inherit;
	transition: width 0.2s ease-in;
}

.text-bold {
	font-weight: 600;
	width: 120px;
}

.data-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.homecontainer .smcard {
	padding: 20px 30px;
	margin-bottom: 20px;
}

.homecontainer .smbargraph {
	height: 260px;
	width: 100%;
	position: relative;
	display: flex;
}

.homecontainer .flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.homecontainer .showbtn {
	border-radius: 3px;
	background-color: #b09456;
	color: #f0eff5;
	height: 30px;
	width: 100px;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	transition: all 0.3s ease;
}

.homecontainer .showbtn:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.homecontainer .stats-bold {
	font-size: 20px;
	font-weight: 600;
}

.homecontainer .smheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.homecontainer .smheader h6 {
	color: #04084e;
	font-weight: 600;
}

.homecontainer .rowheading {
	border-bottom: 2px solid #04084e50;
	font-weight: 600;
}

.homecontainer .rowproducts {
	margin-top: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #04084e50;
}

.homecontainer .status {
	border: 1px solid;
	border-radius: 10px;
	width: fit-content;
	padding: 0 5px;
	font-size: 12px;
	font-weight: 600;
}

.homecontainer .cat {
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #04084e50;
}

.homecontainer .innerheader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.homecontainer .catcircle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #b09456;
	margin-right: 10px;
}

.homecontainer .innerheader h6 {
	color: #04084e;
	font-weight: 600;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.homecontainer .roundamount {
	font-size: 20px;
	font-weight: 600;
}

.homecontainer .data-circles {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

@media screen and (max-width: 992px) {
	.homecontainer {
		margin: 10px 50px;
	}

	.homecontainer .main .circle {
		width: 65px;
		height: 65px;
		border-radius: 50%;
	}

	.firstbody .graph-card {
		padding: 20px 30px;
		margin-bottom: 20px;
		height: 500px;
	}

	.data-group {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.text-bold {
		font-weight: 600;
		width: 80%;
		text-align: center;
	}

	.progress-bar {
		height: 6px;
		width: 500px;
	}
}

@media screen and (max-width: 767px) {
	.homecontainer {
		margin: 10px 35px;
	}
	.homecontainer .main .circle {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	.homecontainer .main .info .stats {
		font-size: 18px;
	}

	.firstbody .graph-card {
		padding: 10px 35px;
		margin-bottom: 20px;
		height: 400px;
	}

	.data-group {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.progress-bar {
		height: 6px;
		width: 400px;
	}
}

@media screen and (max-width: 575px) {
	.homecontainer {
		margin: 7px 7px;
	}

	.homecontainer .nav-path {
		margin: 7px 0;
	}

	.homecontainer .main .card {
		padding: 10px 20px;
		margin-bottom: 7px;
	}
	.homecontainer .main .circle {
		width: 55px;
		height: 55px;
		border-radius: 50%;
	}

	.homecontainer .main .info .stats {
		font-size: 16px;
	}

	.firstbody .graph-card {
		padding: 10px 20px;
		margin-bottom: 7px;
		height: 380px;
	}

	.data-group {
		flex-direction: column;
		margin-bottom: 15px;
	}

	.progress-bar {
		height: 6px;
		width: 280px;
	}
}
