@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #000000;
	overflow-x: hidden;
	background-color: #F0EFF5;
}