@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-display: swap;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #04084e;
	overflow-x: hidden;
	background-color: #F0EFF5;
}

.orderscontainer{
    flex: 1;
    background-color: #F0EFF5;
    justify-content: center;
    align-items: center;
    margin: 10px 100px; 
}

.orderscontainer .nav-path{
	font-size: 14px;
	font-weight: 800;
	color: #04084e90;
	text-transform: capitalize;
	margin: 20px 0;
	cursor: pointer;
}

.orderscontainer .card{
	padding: 20px 30px;
	margin-bottom: 20px;
    width: 100%;
}

.orderscontainer .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.orderscontainer .header h6{
	color: #04084e;
	font-weight: 600;
}

.orderscontainer .header .optionicon{
	cursor: pointer;
	transition: all 0.3s ease;
}

.orderscontainer .header .optionicon:hover{
	transform: scale(1.1);
}

.orderscontainer .fullPage{
    height: 80vh;
}

.orderscontainer .leftcontainer{
    margin-left: 10px;
}

.orderscontainer .leftoption{
    margin-bottom: 25px;
    color: #04084e90;
    display: flex;
	justify-content: flex-start;
	align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.orderscontainer .leftoption:hover{
    color: #A58340;
    transform: scale(1.1);   
}

.orderscontainer .leftoption.selected {
    color: #A58340;
}

.orderscontainer .leftoption.selected .icon{
    color: #A58340;
}

.orderscontainer .leftoption .icon{
    margin-right: 10px;
    color: #04084e90;
}

.orderscontainer .labels {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.orderscontainer .label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.orderscontainer .label .labelcircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.orderscontainer .rowheading{
    padding-bottom: 10px;
	border-bottom: 2px solid #04084e50;
	font-weight: 600;
}

.orderscontainer .listdata{
	margin-top: 10px;
	padding-bottom: 13px;
}

.orderscontainer .owner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.orderscontainer .owner .icon{
    margin-right: 20px;
}

.orderscontainer .pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orderscontainer .pagination .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.orderscontainer .pagination .buttons .btn-prev,
.orderscontainer .pagination .buttons .btn-next
{
    background-color: #F0EFF5;
    border-radius: 3px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #A58340;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px solid #F0EFF5;
}

.orderscontainer .pagination .buttons .btn-prev:hover,
.orderscontainer .pagination .buttons .btn-next:hover{
    border: 2px solid #A58340;
}
